/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0059d3 #000000;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #0059d3;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 3px solid #0059d3;
  }